**/.vs/
/src/Test/Files/Certificates/*
samples/ASP.NET/.vs/
packages/
bin/
obj/
Release/
Debug/

_ReSharper.*
*.suo
*.user
*.sdf
*.vspscc
*.bak
*.opensdf
*.ipch
*.pch
*.DotSettings
*.psess
*.vsp
*.log
*.ncb
Thumbs.db

